* {
  box-sizing: border-box;
  margin: 0;
}

header {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(/recources/background.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20vh;
  color: aqua;
}

nav {
  margin-top: 5vh;
}

nav a {
  text-decoration: none;
  background-color: aqua;
  color: darkslategray;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
}
