* {
  box-sizing: border-box;
  margin: 0;
}
/* Styling Header */

#top {
  height: 50vh;

  padding: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(/recources/background.jpg);

  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  color: aqua;
  display: inline;
}

nav {
  margin-top: 5vh;
  display: inline;
}

nav a {
  text-decoration: none;
  background-color: aqua;
  color: darkslategray;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
}

/* Styling Header */

/* Styling Main */
main {
  background-color: antiquewhite;
}
/* Styling Main */

/* Styling recurring elements */

h3 {
  color: darkslategray;
  text-decoration: underline;
  margin: 2.5% 1.5%;
}

p {
  max-width: 85%;
  margin: 0% 7.5%;
  color: darkslategray;
  text-align: justify;
}

/* Styling recurring elements */

/* Styling Section: */
/* Styling Section: */
/* Styling Section: */
/* Styling Section: */
/* Styling Section: */
/* Styling Section: */
/* Styling Section: */
